interactions:
- request:
    body: !!python/unicode 'dataAccessId=tablero_19&pageSize=0&sortBy=2D&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F4_rrhh.cda&pageStart=0'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"111"},"resultset":[["Rectorado",2015,1069],["Rectorado",2016,1066],["Rectorado",2014,977],["Rectorado",2013,952],["Rectorado",2011,903],["Rectorado",2012,901],["Rectorado",2010,797],["Rectorado",2007,653],["Rectorado",2008,632],["Rectorado",2009,547],["Humanisticas",2016,430],["Humanisticas",2014,421],["Humanisticas",2015,421],["Exactas
        y Naturales",2015,417],["Humanisticas",2013,414],["Humanisticas",2012,400],["Exactas
        y Naturales",2014,394],["Exactas y Naturales",2016,394],["Ingenieria",2015,387[...]
- request:
    body: !!python/unicode 'dataAccessId=param_anios_presup&sortBy=&pageSize=0&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F1_presupuesto.cda&pageStart=0&paramprm_tablero_visible=5'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"15"},"resultset":[[2016],[2015],[2014],[2013],[2012],[2011],[2010],[2009],[2008],[2007],[2006],[2005],[2004],[2003],[2002]],"metadata":[{"colIndex":0,"colType":"Integer","colName":"anio"}]}'
    headers:
      content-disposition:
      - inline; filename=doQuery.json
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: !!python/unicode 'dataAccessId=tablero_05&pageSize=0&paramprm_ej_presup=2002&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F1_presupuesto.cda&pageStart=0'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"5"},"resultset":[["5 -
        TRANSFERENCIAS",4496053.5,10.25],["4 - BIENES DE USO",1381245.99,3.15],["3
        - SERVICIOS NO PERSONALES",4138822.74,9.43],["2 - BIENES DE CONSUMO",756405.6,1.72],["1
        - GASTOS EN PERSONAL",33107446.52,75.45]],"metadata":[{"colIndex":0,"colType":"String","colName":"inciso"},{"colIndex":1,"colType":"Numeric","colName":"total_devengado"},{"colIndex":2,"colType":"Numeric","colName":"porcentaje"}]}'
    headers:
      content-disposition:
      - inline; filename=doQuery.json
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
