interactions:
- request:
    body: !!python/unicode 'dataAccessId=param_anios_presup&sortBy=&pageSize=0&outputIndexId=1&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F1_presupuesto.cda&pageStart=0&paramprm_tablero_visible=1'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"15"},"resultset":[[2016],[2015],[2014],[2013],[2012],[2011],[2010],[2009],[2008],[2007],[2006],[2005],[2004],[2003],[2002]],"metadata":[{"colIndex":0,"colType":"Integer","colName":"anio"}]}'
    headers:
      content-disposition:
      - inline; filename=doQuery.json
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
