interactions:
- request:
    body: !!python/unicode 'dataAccessId=param_ua_cargos&sortBy=&pageSize=0&path=%2Fhome%2FSIU-Wichi%2FPortal+Transparencia%2Fcda%2F4_rrhh.cda&pageStart=0&outputIndexId=1&paramprm_tablero_visible=18'
    headers:
      Authorization:
      - Basic dXN1YXJpb190cmFuc3BhcmVuY2lhOmNsYXZlX3RyYW5zcGFyZW5jaWE=
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://wichi.siu.edu.ar/pentaho/plugin/cda/api/doQuery
  response:
    body:
      string: !!python/unicode '{"queryInfo":{"totalRows":"13"},"resultset":[["1-TODAS"],["Administracion
        y Economia"],["Agrarias y Forestales"],["Cine y TV"],["Derecho y Sociales"],["Exactas
        y Naturales"],["Humanisticas"],["Ingenieria"],["Instituto de Investigacion"],["Medicina"],["Periodismo"],["Rectorado"],["Veterinarias
        y Salud Animal"]],"metadata":[{"colIndex":0,"colType":"String","colName":"unidad_generica_desc"}]}'
    headers:
      content-disposition:
      - inline; filename=doQuery.json
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
